<!-- index.ejs -->
<h>Public Stories</h>
<!--show pagination-----------------------------------------------------------------------show pagination-->
<div id="pgnation"><%- include('../partials/dashboard/pgnation.ejs') %></div>
<!-- show menu---------------------------------------------------------------------show limit menu -->
<div id="Menu">
  <%- include('../partials/dashboard/limitMenu.ejs') %> <%-
  include('../partials/dashboard/sortMenu.ejs') %>
</div>
<!-- if there are stories -->
<% if(typeof stories == 'object' && stories.length > 0){%>
<p>yes you do have stories</p>
<div class="list-group">
  <!-- loop through each stories -->

  <!-- sd -->
  <% stories.forEach(function(val){ %>
  <!-- sd -->

  <a
    href="/stories/<%= val._id %>"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 me-auto"><%= val.title %></h5>

      <small
        ><P>Number:<%= val.storyNumber %></P>
        <%= helpers.formatDate(val.createdAt) %>
        <p>Views: <%= val.views %></p>
        <p><%= val.user.firstName %></p></small
      >
    </div>
    <p class="mb-1">
      <%= helpers.stripTags(helpers.truncate( val.body, 150)) %>
    </p>
  </a>

  <!-- decrease story Number  -->
  <% }) %>
</div>
<!-- if no stories -->
<% } else { %>
<p>No stories to display</p>
<% } %>
