<!-- singleStory.ejs -->

<!-- contents ------------------------------------------------------------------------------------------------contents-->
<div class="row">
  <div class="col s12 m8">
    <h3>
      Title: <%= stories.title %>
      <!-- <small>{{{editIcon story.user user story._id false}}}</small> -->
    </h3>
    <h3>Contents: <%= helpers.stripTags(stories.body) %></h3>
  </div>
</div>
<% var parentCmt %> <% var dpt =1 %>
<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="d-flex flex-column col-md-8">
      <!--display status-------------------------------------------------------------------------------------user status-->
      <%- include('../stories/comments/status.ejs') %>
      <!--display comment---------------------------------------------------------------------------------------comments-->
      <div class="coment-bottom bg-white p-2 px-4">
        <%- include('comments/content.ejs',{pt: parentCmt, depth:dpt});%>

        <!--display reply------------------------------------------------------------------------------------------reply-->
        <%- include('../stories/comments/reply.ejs') %>
      </div>
    </div>
  </div>
</div>
